@page
@model BusTicketSystem.Pages.ForCustomer.Notifications.IndexModel
@{
    Layout = "_AccountInfoLayout";
    ViewData["Title"]="Trung tâm Thông báo";
}
<div class="header">
    <div class="left">
        <h1>@ViewData["Title"]</h1>
        <ul class="breadcrumb">
            <li><a asp-page="/ForCustomer/MyAccount/Index" style="text-decoration: none;">Tài khoản</a></li>/
            <li><a href="#" class="active" style="text-decoration: none;">Thông báo</a></li>
        </ul>
    </div>
</div>