@page
@model BusTicketSystem.Pages.ForAdmin.PromotionnManage.IndexModel
@{
    Layout="_AdminLayout";
    ViewData["Title"]="Quản lý Khuyến mãi";
}
<div class="header">
    <div class="left">
        <h1>Quản lý khuyến mãi</h1>
        <ul class="breadcrumb">
            <li>
                <a href="/" style="text-decoration: none;">Tổng quan</a>
            </li>/
            <li>
                <a href="/ForAdmin/CustomerManage/Index" class="active" style="text-decoration: none;">Khuyến mãi</a>
            </li>
        </ul>
    </div>
    <a href="#" class="report" style="text-decoration: none;">
        <i class="bx bx-cloud-download"></i>
        <span>Tải CSV</span>
    </a>
</div>